@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Top Restaurants in Provo";
}

<!--model IEnumerable<TopRestaurant>-->

@model  IEnumerable<string>


<div class="text-center">
    <div class="bg-dark text-white">
        <h1 class="display-2">Welcome to TRIP!</h1>
    </div>
    <div class="bg-info text-white">
        <h3 class="align-text-top">Find the Top Restaurants in Provo</h3>
    </div>
    <br />

          <div class="bg-dark text-white">
              <br />
              <h4>The Top 5:</h4>
              <br />
              <ul class="list-unstyled list-group">
                  @foreach (string r in Model)
                  {
                      <li class="list-group-item bg-dark">@Html.Raw(r)</li>
                  }

              </ul>
              <!--
    <table class="table text-white">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Favorite Dish</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Website</th>
            </tr>
        </thead>
        <tbody>
            foreach (TopRestaurant TopR in Model)
            {
                <tr>
                    <td scope="row">TopR.Rank</td>
                    <td scope="row">TopR.Name</td>
                    <td scope="row">TopR.FavoriteDish</td>
                    <td scope="row">TopR.Address</td>
                    <td scope="row">TopR.Phone</td>
                    <td scope="row"><a>TopR.Website</a></td>
                </tr>
            }
        </tbody>
    </table>-->
          </div>


    <br /><br />

    <a class="btn btn-dark" asp-controller="Home" asp-action="SuggestRestaurant">Suggest a Restaurant</a>
</div>
